/* CSS Document */
* {margin: 0;padding: 0;}
html{height:100%}
body {height:100%; font: 14px "Verdana", sans-serif; color:#413D3D;background:#fff;}
a {cursor:hand;color:#FA023C;text-decoration:underline;}
img {filter:alpha(opacity=100);opacity:1.0;-moz-opacity:1.0;-khtml-opacity: 1.0;position:relative;}
p{margin:0 15px 15px 0;color:#413D3D;}
p a{color:#FA023C;text-decoration:underline;}
p img{}
p a img{float:left;height:50px;}
a img{ 	border: none;}
a div{ 	border: none;}
blockquote {margin-left: 165px;margin-right: 0px;padding: 0 6px 6px;color:#fff;}
h1{background-color:#040004;color:#fff; padding: 0 3px 0 3px;font:21px "Lucida Console", Monaco, monospace; font-style:normal;text-transform: uppercase;width:450px;}
h2{color:#040004; font:18px "Lucida Console", Monaco, monospace; font-weight:bold;}
h3{color:#040004; font:18px "Lucida Console", Monaco, monospace; }

h4{margin:0px 0 0 0;padding:0 0 0 15px;font-family: 'Verdana','Arial', sans-serif; color:#000; font-size: 24px;}
h5{margin:0px 0 0 0;padding:0 0 5px 0; font:24px "Lucida Console", Monaco, monospace;}

.assignments{color:#308014;}
p.assignments a, p.assignments a:hover, p.assignments a:visited{color:#FA023C;}

.indexbody{background:#c9a706; color:#308014;font: 13px "Lucida Console", Monaco, monospace;}

.resbody{background:#A3F1C0 url("../media/title.png"); background-repeat: no-repeat; color:#fff;font: 14px "Lucida Console", Monaco, monospace;}
.infobody{background:#fff url("../media/title.png");background-repeat: no-repeat;color:#fff;font: 14px'Verdana', 'Arial', sans-serif;}
.holder{margin:0 0 20px 20px;}
.res_holder{background-color:#BD2A33;border-bottom:2px dashed #F6F7CD;margin:0 0 0 20px;}
#main_content .holder p{padding:0px 0 0 70px;}
.main_image{margin:30px 0px 0 0px;width:500px;height:100%;float:left;}
.resourcesbody, .studentsbody{background-color:#D4636B;color:#F6F7CD;font: 14px "Lucida Console", Monaco, monospace;url("../media/title.png");background-repeat: no-repeat;}
.resbody #main_content .res_holder p a, .resbody #main_content .res_holder p a:visited{color:#fff;font:14px "Lucida Console", Monaco, monospace;}
.titles{font-family: "Lucida Console", Monaco, monospace; color: #fff;background-color:#fff; text-align: center; letter-spacing: 5px; font-size: 1.8em;xborder-bottom:dashed #333 1px;}
a.titles{margin:0 auto 0 auto;}
.res_titles{font-family: Georgia; font-style:italic; color: #fff; text-decoration: none; text-align: center; line-height: 1.2em; font-size: 1.8em;}
.weekfont{font:24px "Lucida Console", Monaco, monospace; font-style:italic; font-weight:bold;color:#fff;}
.schedfont{font: 13px "Lucida Console", Monaco, monospace; color:#333;background-color:#fff;margin:0 0 0 8px;}
.gradefont{font:18px "Lucida Console", Monaco, monospace;color:#fff;}
.weekly{padding: 0 3px 0 3px;font-family: "Lucida Console", Monaco, monospace;background-color:#FA023C;color:#fff;text-transform:uppercase;font-weight:400;text-decoration: none; font-size: 18px;}
.weekly2{padding: 0 3px 0 3px;font-family: "Lucida Console", Monaco, monospace;background-color:#FA023C;color:#fff;text-transform:uppercase;font-weight:400;text-decoration: none; font-size: 14px;}
.weekly3{padding: 0 3px 0 3px;font-family: "Lucida Console", Monaco, monospace;color:#000;background-color:#C8FF00;text-transform:uppercase;font-weight:400;text-decoration: none; font-size: 14px;}

.dailyheader{color:#000;font-size:18px;}

#current{color:#000;background-color:#C8FF00;}
#indexmain_content {width: 75%;margin:20px 0 0 20px;padding:0;float:left;background:transparent;color:#413D3D;}
#indexmain_content2 {width: 65%;margin:20px 0 0 20px;padding:0;float:left;background:transparent;color:#308014;}

#indexmain_content p ul li{margin: 0 0 0 50px;}

#navcontainer{float:left;height:100%;margin:20px 15px 0 15px;xborder:1px solid red;background:#fff url("../patterns.jpg")}
#navlist li { list-style-type: none; }
li a{margin:0;padding: 0 3px 0 3px;color:#000;font-family: "Lucida Console", Monaco, monospace;font-size: 14px;xbackground-color:#C8FF00;text-decoration:none;}


#subnavlist
{
margin-left: 0;
padding-left: 0;
list-style: none;
}

#subnavlist li
{
text-decoration:underline;
padding-left: 10px;
background-image: url(../media/arrow.gif);
background-repeat: no-repeat;
background-position: 0 .5em;
}

ul p{padding-left: 20px;}

blockquote{margin-left:35px;margin-right:200px;font-size:11px;}

